1.0.4-matrix-1.3-rc/ID-Omkatter/bron
1.0.4-matrix-1.3-rc/ID-Omkatter/bron_*
1.0.4-matrix-1.3-rc/ID-Omkatter/resultaat
1.0.4-matrix-1.3-rc/ID-Omkatter/resultaat_*
1.0.4-matrix-1.3-rc/ID-Omkatter/temp
1.0.4-matrix-1.3-rc/ID-Omkatter/temp_*


1.0.4-matrix-1.3-rc_generate-only/ID-Omkatter_generate_only/bron
1.0.4-matrix-1.3-rc_generate-only/ID-Omkatter_generate_only/bron_*
1.0.4-matrix-1.3-rc_generate-only/ID-Omkatter_generate_only/resultaat
1.0.4-matrix-1.3-rc_generate-only/ID-Omkatter_generate_only/resultaat_*
1.0.4-matrix-1.3-rc_generate-only/ID-Omkatter_generate_only/temp
1.0.4-matrix-1.3-rc_generate-only/ID-Omkatter_generate_only/temp_*
1.0.4-matrix-1.3-rc_generate-only/opdracht_voorbeeldbestanden/opdrachten_gereed
1.0.4-matrix-1.3-rc_generate-only/opdracht_voorbeeldbestanden
1.0.4-matrix-1.3-rc_generate-only/opdracht_voorbeeldbestanden/*

1.1.0-rc-STOP-2.0.0-OW_generate-only/ID-Omkatter_generate_only/bron
1.1.0-rc-STOP-2.0.0-OW_generate-only/ID-Omkatter_generate_only/bron_*
1.1.0-rc-STOP-2.0.0-OW_generate-only/ID-Omkatter_generate_only/resultaat
1.1.0-rc-STOP-2.0.0-OW_generate-only/ID-Omkatter_generate_only/resultaat_*
1.1.0-rc-STOP-2.0.0-OW_generate-only/ID-Omkatter_generate_only/temp
1.1.0-rc-STOP-2.0.0-OW_generate-only/ID-Omkatter_generate_only/temp_*
1.1.0-rc-STOP-2.0.0-OW_generate-only/opdracht_voorbeeldbestanden/opdrachten_gereed
1.1.0-rc-STOP-2.0.0-OW_generate-only/opdracht_voorbeeldbestanden
1.1.0-rc-STOP-2.0.0-OW_generate-only/opdracht_voorbeeldbestanden/*

1.1.0-rc-STOP-2.0.0-OW/ID-Omkatter/bron
1.1.0-rc-STOP-2.0.0-OW/ID-Omkatter/bron_*
1.1.0-rc-STOP-2.0.0-OW/ID-Omkatter/resultaat
1.1.0-rc-STOP-2.0.0-OW/ID-Omkatter/resultaat_*
1.1.0-rc-STOP-2.0.0-OW/ID-Omkatter/temp
1.1.0-rc-STOP-2.0.0-OW/ID-Omkatter/temp_*
